@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));

html {
  transition: background-color 0.6s, color 0.6s;
  font-family: "Poppins", sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #127957;
  --color-secondary: #ffa621;
  --color-accent:#eeeeee;
  --color-neutral: "#ffffff";
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #22c55e;   /* green-500 */
  --color-secondary: #facc15; /* yellow-400 */
  --color-accent: #1e293b;    /* slate-800 */
  --color-neutral: #000000;   /* slate-900 */
}